body{
    margin: 0px;
    font-family: 'Segoe UI';
    background-color: #FCF9EA;
    color: rgb(136, 112, 82);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

header{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgb(233, 216, 226);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.247);
    position: sticky;
    top: 0;

}

header a{
    text-decoration: none;
    font-weight: 500;
    padding-left: 8px;
}

header a:hover{
    color: #a1315c;
}

header h1{
    color: rgb(97, 75, 66);
    font-weight: 700;
    letter-spacing: 5px;
}

.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 4rem 2rem;
    gap: 2rem;
}

.hero-text h2{
    font-size: 2.2rem;
    color: rgb(75, 48, 48);
}

.hero p{
    margin-top: 1rem;
    color: rgba(110, 84, 44, 0.993);
}

.hero-image img{
    border-radius: 20px;
}

.grid-gallery{
   display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1.5rem;
    padding:0 4rem;
}

.card{
    background-color: rgb(217, 176, 230);
    border-radius: 16px;
    padding: 2rem;
    text-align: center;
    font-size: 1.2 rem;
    font-weight: 600;
    color: rgba(160, 110, 45, 0.534);
}

.card:hover{
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
}
    
footer{
    text-align: center;
    padding: 1.5 rem;
    background-color: rgb(156, 137, 111);
    color: bisque;
    font-size: 1rem;
    margin-top: auto;
}