header{
    background: rgba(0, 0, 0, 0.5) url("https://img.lovepik.com/photo/48004/5149.jpg_wh860.jpg");
    background-size: cover;
    text-align: center;
    font-family: CHICKEN Pie Height;
    font-size: 30px;
}