
.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 4rem 2rem;
    gap: 2rem;
}

.hero-text h2{
    font-size: 2.2rem;
    color: var(--text-color);
}

.hero p{
    margin-top: 1rem;
    color:var(--text-color);
}

.hero-image img{
    border-radius: 20px;
    height: 500px;
}

.grid-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1.5rem;
    padding: 1rem;
}

.card{
    background-color: var(--card-bg);
    border-radius: 16px;
    padding: 2rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: brown;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2;
}

.card:hover{
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

footer{
    text-align: center;
    padding: 1.5rem;
    background-color: var(--footer-bg);
    color:azure;
    font-size: 0.9rem;
    margin-top: auto;
}

/* css alert */
.modal-content{
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%;
    text-align: center;
}

.hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 0.3 ease;
}

#tombol-tutup{
    padding: 8px 16px;
    background-color: chartreuse;
    color: azure;
    border-radius: 12px;
    cursor: pointer;
}

/*daftarkan warna dalam variabel*/
:root{
    --bg-color: #ffffff;
    --text-color: #1f2937;
    --navbar-bg: #ffffff;
    --link-color: darkslategray;
    --link-hover: dodgerblue;
    --dropdown-bg: rgba(0, 0, 0, 0.1);
    --shadow-color: rgba (0, 0, 0, 0.1);
    --footer-bg: darkcyan;
    --card-bg: bisque;
}

/*warna awal body*/
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

/*warna body dark-mode*/
body.dark-mode{
    --bg-color: #121212;
    --text-color: #e5e7eb;
    --navbar-bg: #1f2937;
    --link-color: #d1d5db;
    --link-hover: #60a5fa;
    --dropdown-bg: #1f2937
    --shadow-color: rgba (255, 255, 255, 0.1);
    --footer-bg: #5f9aa8;
    --card-bg: #b2641b;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 8%;
    background-color: var(--bg-color);
    box-shadow: 0 1px 8px var(--shadow-color);
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-links a{
    text-decoration: none;
    font-weight: 500;
    padding: 0.5rem 0;
    color: var(--text-color);
}

.nav-links a:hover, .nav-links a:active{
    color:var(--text-color);
}

/* dropdown */
.dropdown{
    position: relative;
    display: inline-block;
}

.dropbtn{
    background: none;
    border: none;
    font: inherit;
    color: var(--text-color);
    font-weight: 500;
    cursor: pointer;
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.dropdown-content{
    position: absolute;
    background-color: var(--dropdown-bg);
    min-width: 180px;
    box-shadow: 0 5px 15px var(--shadow-color);
    border-radius: 10px;
    overflow: relative;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    visibility: hidden;
}

.dropdown:hover> .dropdown-content{
    visibility: visible;
}

.dropdown-content a{
    padding: 0.75rem 1rem;
}

.burgerBtn{
    display: none;

}

/* css responsive mobile/phone */
@media (max-width:768px) {
    .navbar{
        padding: 1rem 5%;
    }

    .nav-links{
        display: none;
        flex-direction: column;
        align-items: stretch;
        position: absolute;
        top: 72px;
        left: 0;
        padding: 10PX 0;
        box-shadow: 0 5px 15px var(--shadow-color);
        width: 100%;
    }

    .nav-links.show{
        display: flex;
    }

    .nav-links > a, .dropdown{
        padding: 0.5rem 2rem;
    }


}